@media (max-width: 36em) {
    .hamburger-menu {
        display: flex;
    }

    .logo {
        display: flex;
        flex: 1;
        justify-self: flex-start;

        padding-left: 1rem;
    }

    nav {
        display: none;
    }
}
