@media (max-width: 36em) {
    header {
        padding-top: 1rem;
        flex-direction: column;
    }

    .no-desktop {
        display: flex;
    }

    .hamburger-menu {
        display: flex;
    }

    .logo {
        display: flex;
        flex: 1;
        justify-self: flex-start;

        padding-left: 1rem;
    }

    nav {
        display: none;
    }

    .mobile-menu {
        display: none;

        flex: 1;
        justify-content: center;
        align-items: flex-start;

        padding-top: 4rem;
    }

    .mobile-menu li {
        font-size: 2rem;
        padding-top: 2rem;
    }
    
}
